---
// export interface Props {
// 	name: string;
// 	image: string;
// 	links: Array<object>;
// }

const { name, subtitle, image } = Astro.props;
const imageURL = '/images/artists/' + image + '.jpg';
---

<figure class="artist-card">
	<img src={imageURL}/>
	<figcaption class="artist-card-header">
		<span class="artist-name">{name}</span>
		<span class="artist-subtitle">({subtitle})</span>
	</figcaption>
	<slot />
</figure>
<style>
</style>
