---
// export interface Props {
// 	title: string;
// 	body: string;
// 	href: string;
// }

// const { href, title, body } = Astro.props;
---

<div class="nav">
	<span><a href="/">Home</a></span>
	<span><a href="/about">About</a></span>
	<span><a href="/events">Events</a></span>
	<span><a href="/artists">Artists</a></span>
</div>
<style>
.nav {
	list-style: none;
	color: #fff;
	margin: 16px 0px;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	gap: 6%;
}
.nav > span {
	display: inline;
	margin-left: 0;
	/* margin: 6px 0px; */
	text-decoration: none;
}
span:hover > a {
	text-shadow: 0 0 3px #fff;
}
</style>
