---
// export interface Props {
// 	title: string;
// 	body: string;
// 	href: string;
// }

// const { href, title, body } = Astro.props;
---

<div class="nav">
	<span><a href="/">Home</a></span>
	<span><a href="/about">About</a></span>
	<span><a href="/events">Events</a></span>
	<span><a href="/artists">Artists</a></span>
</div>
<style>
</style>
