---
export interface Props {
	title: string;
}
import Nav from '../components/Nav.astro';

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<link rel="stylesheet" href="/styles.css" />
	</head>
	<body class="content">
		<Nav />
		<div class="content_inner">
			<div class="header">
				<img alt="Local Colors logo" src="/images/logo-banner.png" style="width: 70%"/>
			</div>
			<slot />
		</div>
		<div class="footer">
			All photography by Mary C Jenkins unless otherwise noted.
		</div>
	</body>
</html>
<style is:global>
</style>
